<nav class="navbar navbar-expand-lg navbar-light" id="top">
  <%= link_to 'GURI', root_path, class: 'navbar-brand' %><i class="fab fa-dev dev-size"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% @categories = Category.all %>
              <% if @categories.any? %>
                <% @categories.each do |category| %>
                  <%= link_to category.name, category, class: 'dropdown-item' %>
                <% end %>
              <% else %>
              <a class="dropdown-item" href="#">Não há categorias</a>
              <% end %>
            </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Autor</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Contato</a>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Painel do Usuário', users_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= current_user.email %></a>
      </li>
      <% end %>
    </ul>
    <i class="fas fa-search" style="margin-left:10px;"></i>
    <div class="navbar-form navbar-right" role="search" style="position: relative;">
      <%= form_with url: search_path, method: :get, class: 'form-inline',
                    local: true do |f| %>
        <%= f.label :search, 'Busca', class: 'sr-only' %>
        <%= f.text_field :search, class: 'form-control mx-sm-2' %>
        <%= f.submit 'Buscar', class: 'btn btn-outline-dark my-2 my-sm-0' %>
      <% end %>
    </div>
  </div>
</nav>
