<% @post.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>
<br>
<br>

<%= form_with model: @post, local: true do |f| %>
<fieldset>
 <div class="ls-label col-md-8">
  <%= f.label :title, class: "ls-label-text" %>
  <%= f.text_field :title, class: 'form-control col-md-10' %>
</div>
<div class="ls-label col-md-10">
  <%= f.label :body, class: "ls-label-text" %>
  <%= f.text_area :body, rows: "20", class: "ls-textarea-autoresize" %>
</div>
  <div class="ls-actions-btn">
  <%= f.submit t('post.new.submit'), class: 'ls-btn ls-btn-lg' %>
</div>
<% end %>
